<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Lonely - Free bootstrap 3 one page template</title>
  <!-- CSS -->
  <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'nivo-lightbox', media: 'all', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag 'nivo-lightbox-theme/default/default', media: 'all', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag 'owl.carousel', media: 'all', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag 'owl.theme', media: 'all', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag 'animate', media: 'all', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track' => false %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <!--link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"-->
  <!--link href="color/default.css" rel="stylesheet"-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
  <!-- Preloader -->
  <div id="preloader">
    <div id="load"></div>
  </div>

  <!-- Section: intro -->
  <section id="intro" class="intro">

    <div class="slogan">
      <!--a href="index.html"><%#= image_tag 'cats.pics-logo.png' %></a-->
    </div>
    <div class="page-scroll">
      <a href="#about">
        <i class="fa fa-angle-down fa-5x animated"></i>
      </a>
    </div>
  </section>
  <!-- /Section: intro -->

  <!-- Navigation -->
  <div id="navigation">
    <nav class="navbar navbar-custom" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <i class="fa fa-bars"></i>
              </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="menu">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#intro">Home</a></li>
                <li><a href="#instagram">Instagram</a></li>
                <li><a href="#rakuten">Rakuten</a></li>
                <li><a href="#flickr">Flickr</a></li>
              </ul>
            </div>
            <!-- /.Navbar-collapse -->
          </div>
        </div>
      </div>
      <!-- /.container -->
    </nav>
  </div>
  <!-- /Navigation -->

  <!-- Section: about -->
    <section id="about" class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="section-heading text-center">
          <div class="wow bounceInDown" data-wow-delay="0.2s">
            <h3><b>更新する度に新たな猫さん達があらわれるよ :(</b></h3>
          </div>
          <!--p class="wow bounceInUp" data-wow-delay="0.3s">楽しんでくださいね!</p-->
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <%= image_tag 'cats.pics-logo.png' %>
        </div>
        <div class="col-md-4"></div>
        <!--div class="col-md-6"-->
          <!--p><strong>You'll fall in love with me at the first sight</strong></p>
          <p>
          Lorem ipsum dolor sit amet, ei purto tamquam ceteros his, eos in graece posidonium.
          Ex nullam vidisse salutatus sed, ea persius phaedrum tincidunt vel. Option virtute nonumes ne est.
          Id homero expetendis eam, dictas rationibus ut has.
          </p>
          <blockquote>
          Pri pertinacia elaboraret te, an eirmod delicatissimi nec. Eu liber quodsi maiorum mei.
          Civibus perfecto rationibus id his, est noster nostrud aliquando at.
          </blockquote-->
        <!--/div-->
      </div>
    </div>
  </section>
  <!-- /Section: about -->

  <!-- Section: gallery -->
  <section id="instagram" class="home-section text-center bg-instagram">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2><%= image_tag 'i.png', :height => '50', :class => 'img-rakuten' %>INSTAGRAM</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" >
          <div class="wow bounceInUp" data-wow-delay="0.4s">
            <div id="instagram-owl-works" class="owl-carousel"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Section: services -->

  <!-- Section: gallery -->
  <section id="rakuten" class="home-section text-center bg-rakuten">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2><%= image_tag 'r.jpg', :height => '50', :class => 'img-rakuten' %>RAKUTEN</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" >
          <div class="wow bounceInUp" data-wow-delay="0.4s">
            <div id="rakuten-owl-works" class="owl-carousel"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Section: services -->

  <!-- Section: gallery -->
  <section id="flickr" class="home-section text-center bg-flickr">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2><%= image_tag 'f.png', :height => '50', :class => 'img-rakuten' %>FLICKR</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" >
          <div class="wow bounceInUp" data-wow-delay="0.4s">
            <div id="flickr-owl-works" class="owl-carousel"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Section: services -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <%= image_tag 'cats.pics-logo.png', :height => '100' %>
          <p>&copy;Copyright 2015 . K2 . design by <a href="http://bootstraptaste.co">Bootstrap Themes</a></p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Core JavaScript Files -->
  <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'jquery.easing.min', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'jquery.sticky', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'jquery.scrollTo', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'stellar', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'wow.min', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'owl.carousel.min', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'nivo-lightbox.min', 'data-turbolinks-track' => false %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!-- Custom Theme JavaScript -->
  <%= javascript_include_tag 'custom', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'rakuten-cats.pics-carousel', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'instagram-cats.pics-carousel', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'flickr-cats.pics-carousel', 'data-turbolinks-track' => false %>

</body>
</html>
