<!-- Preloader -->
<div id="preloader">
  <div id="load"></div>
</div>

<section id="intro" class="intro">
  <div class="slogan">
    <p class='text-white text-jumbo space-1'><B>おかえりなさい</B></p>
    <p class='text-white text-medium'><B>写真でも雑貨でもなんでも、世界中のネコをあつめて共有しよう</B></p>
  </div>
  <div class="page-scroll">
    <a href="#ranking"><i class="fa fa-angle-down fa-6x animated animated-hover"></i></a>
  </div>
</section>

<section id="ranking" class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
        <div class="text-center">
          <% if @fav_cats.count > 0 %>
            <p class='text-ranking'><B>ふぁぼランキング1位</B></p>
            <%= link_to image_tag(@fav_cats[0].image_url, :class => 'img-responsive img-round'), @fav_cats[0].link %>
            <% if user_signed_in? %>
              <!--button type='submit' class='btn btn-lg btn-primary'>ふぁぼる</button-->
            <% else %>
              <!--button type='submit' class='btn btn-lg btn-primary'>ふぁぼる</button-->
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
        <div class="text-center">
          <% if @fav_cats.count > 1 %>
            <p class='text-ranking'><B>ふぁぼランキング2位</B></p>
            <%= link_to image_tag(@fav_cats[1].image_url, :class => 'img-responsive img-round'), @fav_cats[1].link %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <% if @fav_cats.count > 4 %>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="align-center txt-shadow text-center">
            <p class='text-under-ranking'><B>ふぁぼランキング3位</B></p>
            <%= link_to image_tag(@fav_cats[2].image_url, :class => 'img-responsive img-round'), @fav_cats[2].link %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="align-center txt-shadow text-center">
            <p class='text-under-ranking'><B>ふぁぼランキング4位</B></p>
            <%= link_to image_tag(@fav_cats[3].image_url, :class => 'img-responsive img-round'), @fav_cats[3].link %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="align-center txt-shadow text-center">
            <p class='text-under-ranking'><B>ふぁぼランキング5位</B></p>
            <%= link_to image_tag(@fav_cats[4].image_url, :class => 'img-responsive img-round'), @fav_cats[4].link %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

<!-- Section: gallery -->
<section id="instagram" class="home-section text-left bg-instagram">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="wow bounceInDown" data-wow-delay="0.4s">
          <div class="section-heading" class="navbar-toggle" data-toggle="collapse" data-target="#ghost_area_instagram">
            <!--h2><%#= image_tag 'i.png', :height => '50', :class => 'img-rakuten' %>INSTAGRAM</h2-->
            <%= image_tag 'i.png', :height => '60', :class => 'img-rakuten' %><p>INSTAGRAM</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container collapse" id="ghost_area_instagram">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12" >
        <div class="wow bounceInUp" data-wow-delay="0.4s">
          <div id="instagram-owl-works" class="owl-carousel"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Section: services -->

<!-- Section: gallery -->
<section id="rakuten" class="home-section text-left bg-rakuten">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="wow bounceInDown" data-wow-delay="0.4s">
          <div class="section-heading" class="navbar-toggle" data-toggle="collapse" data-target="#ghost_area_rakuten">
            <!--h2><%#= image_tag 'r.jpg', :height => '50', :class => 'img-rakuten' %>RAKUTEN</h2-->
            <%= image_tag 'r.jpg', :height => '60', :class => 'img-rakuten' %><p>RAKUTEN</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container collapse" id="ghost_area_rakuten">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12" >
        <div class="wow bounceInUp" data-wow-delay="0.4s">
          <div id="rakuten-owl-works" class="owl-carousel"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Section: services -->

<section  class="home-section text-left bg-flickr">
<!-- Section: gallery -->
  <div class="container" id="flickr">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="wow bounceInDown" data-wow-delay="0.4s">
          <div class="section-heading" class="navbar-toggle" data-toggle="collapse" data-target="#ghost_area_flickr">
            <!--h2><%#= image_tag 'f.png', :height => '50', :class => 'img-rakuten' %>FLICKR</h2-->
            <%= image_tag 'f.png', :height => '60', :class => 'img-rakuten' %><p>FLICKR</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container collapse" id="ghost_area_flickr">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12" >
        <div class="wow bounceInUp" data-wow-delay="0.4s">
          <div id="flickr-owl-works" class="owl-carousel"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Section: services -->
