<!-- Preloader -->
<div id="preloader">
  <div id="load"></div>
</div>

<section id="intro" class="intro">
  <div class="slogan">
    <p class='text-white text-jumbo space-1'><B>おかえりなさい</B></p>
    <p class='text-white text-medium'><B>世界中の猫をあつめてシェアしよう</B></p>
  </div>
  <div class="page-scroll">
    <a href="#ranking"><i class="fa fa-angle-down fa-6x animated animated-hover"></i></a>
  </div>
</section>
</br>

<!--section id="introduction" class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="align-center txt-shadow text-center">
        <iframe class="introduction" src="http://www.wideo.co/embed/12551331452952528733?height=300&width=600" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</section-->

<section id="introduction" class="home-section">
  <div class="container">
    <div class="row">
      <% if !user_signed_in? %>
       <div class="col-xs-12 col-sm-12 col-md-3">
           <div class="text-center">
            <div class="fb-body-mini">
            <%= link_to "Sign Up By Facebook", %Q{api/v1/auth/facebook?auth_origin_url=#{Settings.base_url}/login}, :class => 'btn btn-info fb' %>
            </div>
            <p>まずはアカウント登録をしよう</p>
            <div class="fb-body-mini">
            <%= link_to "Facebook Login", %Q{api/v1/auth/facebook?auth_origin_url=#{Settings.base_url}/login}, :class => 'btn btn-info fb' %>
            </div>
              <p>アカウントお持ちの方はログインをしてね</p>
           </div>
       </div>
      <% end %>
      
      <div class="col-xs-12 col-sm-12 col-md-3">
        <div class="text-center">
          <div class="thumnail">
            <%= image_tag 'search.png', :class => 'img-rakuten' %>
          </div>
          </br>
          <div class="caption">
            <h3>SEARCH & FUN</h3>
            <p>探して楽しい！数十万の中からあなたのお気に入りの猫ちゃんを探そう！猫ちゃんも毎日更新されるよ。</p>
            <p><a href="search" class="btn btn-danger intro-button" role="button">Click Me</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <div class="text-center">
          <div class="thumnail">
            <%= image_tag 'favorite.png', :class => 'img-rakuten' %>
          </div>
          </br>
          <div class="caption">
            <h3>FAVORITE & FUN</h3>
            <p>気に入った猫ちゃんをあつめよう。会員登録するとふぁぼる（お気に入り登録）することができるよ。</p>
            <p><a href="favorite" class="btn btn-danger intro-button" role="button">Click Me</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <div class="text-center">
          <div class="thumnail">
            <%= image_tag 'ranking.png', :class => 'img-rakuten' %>
          </div>
          </br>
          <div class="caption">
            <h3>RANKING & FUN</h3>
            <p>あなたのお気に入りの猫ちゃんをランクインさせよう。日別/月別/年別でランクさせるようにがんばろう。</p>
            <p><a href="ranking" class="btn btn-danger intro-button" role="button">Click Me</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</br>

<section id="ranking" class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="text-center">
          <% if @fav_cats.count > 0 %>
            <p class='text-ranking text-light-black'><B>ふぁぼランキング1位</B></p>
            <%= link_to image_tag(@fav_cats[0].image_url, :class => 'img-responsive img-round'), @fav_cats[0].link %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="text-center">
          <% if @fav_cats.count > 1 %>
            <p class='text-ranking text-light-black'><B>ふぁぼランキング2位</B></p>
            <%= link_to image_tag(@fav_cats[1].image_url, :class => 'img-responsive img-round'), @fav_cats[1].link %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <% if @fav_cats.count > 4 %>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="align-center txt-shadow text-center">
            <p class='text-under-ranking text-light-black'><B>ふぁぼランキング3位</B></p>
            <%= link_to image_tag(@fav_cats[2].image_url, :class => 'img-responsive img-round'), @fav_cats[2].link %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="align-center txt-shadow text-center">
            <p class='text-under-ranking text-light-black'><B>ふぁぼランキング4位</B></p>
            <%= link_to image_tag(@fav_cats[3].image_url, :class => 'img-responsive img-round'), @fav_cats[3].link %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="align-center txt-shadow text-center">
            <p class='text-under-ranking text-light-black'><B>ふぁぼランキング5位</B></p>
            <%= link_to image_tag(@fav_cats[4].image_url, :class => 'img-responsive img-round'), @fav_cats[4].link %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
      <div class="align-center txt-shadow text-center">
        <a href="ranking"><button class='btn btn-danger ranking-button'>もっと見る</button></a>
      </div>
    </div>
  </div>
</section>

<section id="douga" class="home-section text-left">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="align-center txt-shadow text-center">
          <%= video_tag("coneco-cat.mp4", :controls => true, :autoplay => false, :poster => "coneco-cat-douga.png", :loop => true, :class => "douga") %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: gallery -->
<!--section id="instagram" class="home-section text-left bg-instagram">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="wow bounceInDown" data-wow-delay="0.4s">
          <div class="section-heading" class="navbar-toggle" data-toggle="collapse" data-target="#ghost_area_instagram">
            <%#= image_tag 'i.png', :height => '60', :class => 'img-rakuten' %><p>INSTAGRAM</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container collapse" id="ghost_area_instagram">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12" >
        <div class="wow bounceInUp" data-wow-delay="0.4s">
          <div id="instagram-owl-works" class="owl-carousel"></div>
        </div>
      </div>
    </div>
  </div>
</section-->
<!-- /Section: services -->

<!-- Section: gallery -->
<!--section id="rakuten" class="home-section text-left bg-rakuten">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="wow bounceInDown" data-wow-delay="0.4s">
          <div class="section-heading" class="navbar-toggle" data-toggle="collapse" data-target="#ghost_area_rakuten">
            <%#= image_tag 'r.jpg', :height => '60', :class => 'img-rakuten' %><p>RAKUTEN</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container collapse" id="ghost_area_rakuten">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12" >
        <div class="wow bounceInUp" data-wow-delay="0.4s">
          <div id="rakuten-owl-works" class="owl-carousel"></div>
        </div>
      </div>
    </div>
  </div>
</section-->
<!-- /Section: services -->

<!-- Section: gallery -->
<!--section  class="home-section text-left bg-flickr">
  <div class="container" id="flickr">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="wow bounceInDown" data-wow-delay="0.4s">
          <div class="section-heading" class="navbar-toggle" data-toggle="collapse" data-target="#ghost_area_flickr">
            <%#= image_tag 'f.png', :height => '60', :class => 'img-rakuten' %><p>FLICKR</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container collapse" id="ghost_area_flickr">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12" >
        <div class="wow bounceInUp" data-wow-delay="0.4s">
          <div id="flickr-owl-works" class="owl-carousel"></div>
        </div>
      </div>
    </div>
  </div>
</section-->
<!-- /Section: services -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- cat2.pics -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1613308380633846"
         data-ad-slot="6089949610"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <div style='text-align: center; color: black'>
    <p>Sponsored Links</p>
    </div>
